.button {
  @apply inline-flex items-center justify-center px-4 py-2 font-semibold text-base tracking-tight rounded-md cursor-pointer;
}

.input {
  @apply px-4 py-2 w-full text-base sm:text-sm rounded-md;
  background-color: var(--rlm-input-color, #f3f4f6);
}


/* Global */
p {
  color: var(--rlm-text-color, #000000);
}
.outerWrapper {
  background-color: var(--rlm-window-color, #FBFBFB);
}
.innerWrapper {
  background-color: var(--rlm-base-color, #EBEBEB);
}
.simpleCard {
  background-color: var(--rlm-card-color, #FF0000);
}


/* Misc */
.dialog {
  background-color: var(--rlm-window-color, #FBFBFB);
}